<!-- (c) Barun Kharel <kharelbarun@gmail.com> -->

<div class="-image-list">
	<ng-container *ngFor="let image of images; index as $index">
		<app-gallery-image-list-item
			[image]="image"
			(on-open-preview)="openPreview($index)"
		></app-gallery-image-list-item>
	</ng-container>
</div>
<ng-container *ngIf="previewImage">
	<app-gallery-preview
		[image]="previewImage"
		[has-previous]="hasPrevious"
		[has-next]="hasNext"
		(on-show-previous)="showPrevious()"
		(on-show-next)="showNext()"
		(on-close-preview)="closePreview()"
	></app-gallery-preview>
</ng-container>
