<!-- (c) Barun Kharel <kharelbarun@gmail.com> -->

<div class="-box">
	<div class="-content">
		<button class="-close" title="Close"
			(click)="onClosePreview.emit()"
		></button>
		<button title="Previous" class="-control -left"
			[ngClass]="{ 'disabled': ! hasPrevious }"
			(click)="onShowPrevious.emit()"
		></button>
		<div class="-image-caption-container">
			<div class="-image">
				<img
					[src]="image.url"
					[alt]="image.altText"
					[title]="image.titleText"
				>
			</div>
			<div class="-caption">
				<span class="-text">{{ image.caption }}</span>
			</div>
		</div>
		<button title="Next" class="-control -right"
			[ngClass]="{ 'disabled': ! hasNext }"
			(click)="onShowNext.emit()"
		></button>
	</div>
</div>
<div class="-hint">
	<button title="Hint" class="-icon-wrapper" (click)="openHint()">
		<span class="-icon"></span>
	</button>
	<div class="-text-wrapper" [hidden]="!hintIsOpen">
		<div class="-text">
			<b>Hint:</b>
			<span>
				Use <kbd>Left</kbd>, <kbd>Right</kbd> and <kbd>Esc</kbd> keys
				to show previous, show next and close preview respectively.
			</span>
		</div>
	</div>
</div>
